# ==============================================
# LLM PROVIDER CONFIGURATION
# ==============================================
LM_CLIENT_PROVIDER=

# ==============================================
# GENERATION SETTINGS
# ==============================================
TEMPERATURE=
MAX_TOKENS=
TIMEOUT_SECONDS=

# ==============================================
# TIGER ANALYTICS MODEL CONFIGURATION
# ==============================================
TIGER_BASE_URL=
TIGER_API_KEY=
TIGER_MODEL_NAME=

# ==============================================
# TIGER ANALYTICS MODEL EMBEDDING
# ==============================================

TIGER_EMBEDDING_BASE_URL=
TIGER_EMBEDDING_API_KEY=
TIGER_EMBEDDING_MODEL_NAME=

# ==============================================
# PROJECT PATHS
# ==============================================
CONFIG_PATH=
BACKUP_PATH=

# ==============================================
# redis configuration
# ==============================================

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_SSL=

# ==============================================
# Postgre configuration
# ==============================================

PG_DB_HOST = 
PG_DB_PORT = 
PG_DB_NAME = 
PG_DB_USER = 
PG_DB_PASSWORD = 
PG_DB_SCHEMA = 

PG_COLLECTION_FILE_NAME=
PG_COLLECTION_CLASS_NAME=
PG_COLLECTION_FUNCTION_NAME=

# ==============================================
# Langfuse configuration
# ==============================================

LANGFUSE_DEV_SECRET_KEY= 
LANGFUSE_DEV_PUBLIC_KEY= 
LANGFUSE_DEV_HOST=